<nav class="navbar">
    <div class="logo">Sohail Khan</div>
    <ul class="nav-links" [ngClass]="{'active': isMenuOpen}">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="side-bar">
        <a href="#">Me</a>
    </div>
</nav>
<app-sidebar></app-sidebar>
