<div class="services">
    <h1>Our Services</h1>
    
    <div class="service-item">
        <h2>Web Development</h2>
        
        <img src="./assets/web-development.gif" alt="">
        <p>
            We create responsive and dynamic websites tailored to your business needs. 
            Our team uses the latest technologies to ensure your website is fast and user-friendly.
        </p>
        <a href="https://www.simplilearn.com/front-end-developer-free-course-skillup?tag=front-end%20development">
        <button>Learn more</button></a>
    </div>
    
    <div class="service-item">
        <h2>Mobile App Development</h2>
        <img src="./assets/mob-app-development.gif" alt="">
        <p>
            Our mobile app development services help you reach your audience on their smartphones. 
            We develop apps for both Android and iOS platforms.
        </p>
        <a href="https://www.simplilearn.com/front-end-developer-free-course-skillup?tag=front-end%20development">
        <button>Learn more</button></a>
    </div>
    
    <div class="service-item">
        <h2>UI/UX Design</h2>
        <img src="./assets/ui ux-design.gif" alt="">
        <p>
            We focus on creating intuitive and engaging user interfaces that enhance user experience. 
            Our design process involves user research, prototyping, and testing to achieve the best results.
        </p>
        <a href="https://www.simplilearn.com/front-end-developer-free-course-skillup?tag=front-end%20development">
        <button>Learn more</button></a>
    </div>

    <div class="service-item">
        <h2>Digital Marketing</h2>
        <img src="./assets/digital-marketing.gif" alt="">
        <p>
            Our digital marketing services help you grow your online presence. We offer SEO, social media marketing, and content marketing to drive traffic and increase visibility.
        </p>
        <a href="https://www.simplilearn.com/front-end-developer-free-course-skillup?tag=front-end%20development">
        <button>Learn more</button></a>
    </div>
</div>