.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.service-item {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.service-item h2 {
    margin-top: 0;
    text-align: center;
}

.service-item img{
    display: flex;
    width: 444px;
    height: 290px;
    justify-content: center;
}

.service-item p {
    margin: 10px 0;
}

.service-item button{
    width: 100%;
    height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to right, orange, rgb(255, 0, 43));
    border-radius: 5px;
}

.service-item button:hover{
    transform: translateY(2px);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em; /* Smaller font size for mobile */
    }

    .service-item h2 {
        font-size: 1.2em; /* Smaller font size for service titles */
        text-align: center;
    }

    .service-item p {
        font-size: 0.9em; /* Smaller font size for service descriptions */
    }

    .service-item img{
        width: 330px;
        height: 250px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em; /* Further reduced font size */
    }

    .service-item h2 {
        font-size: 1em; /* Further reduced font size for titles */
        text-align: center;
    }

    .service-item p {
        font-size: 0.8em; /* Further reduced font size for descriptions */
    }

    .service-item img{
        width: 320px;
        height: 250px;
    }

    .service-item button{
        width: 100%;
        height: 35px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: linear-gradient(to right, orange, rgb(255, 0, 43));
        border-radius: 5px;
    }

    .service-item button:hover{
        transform: translateY(2px);
    }
}
