<div class="home">
    <h1>Welcome to My Portfolio</h1>
    <div class="home-main">
    <div class="intro-side">
    <p style="color: orange; font-size: large; font-weight: bold;">Hi...!</p>
    <p>
        I'm Sohail, a Frontend developer with a knack for creating dynamic and responsive web applications. 
        My journey in technology began with a fascination for coding and has led me to specialize in 
        building user-friendly interfaces and optimizing backend functionalities.
    </p>

    <h2>Skills</h2>
    <ul class="skills">
        <li>JavaScript / TypeScript</li>
        <li>Angular / React / Vue</li>
        <li>HTML / CSS / SASS</li>
        <li>Node.js / Express</li>
        <li>RESTful APIs</li>
        <li>Version Control (Git)</li>
    </ul>  
    </div>
        <div class="image-side">
    <img src="assets/profile.jpg" alt="Profile Picture" class="profile-image" />
    </div>

    </div>
    <h2>Experience</h2>
    <div class="experience">
        <div class="job">
            <h3>Frontend Developer</h3>
            <p><strong>2022 - Present</strong></p>
            <p>
                - Developed responsive web applications using Angular and Bootstrap.<br>
                - Collaborated with designers and backend developers to implement user-friendly interfaces.
            </p>
        </div>
        <div class="job">
            <h3>Intern at Walee</h3>
            <p><strong>2021 - 2022</strong></p>
            <p>
                - Assisted in building web applications using JavaScript and Node.js.<br>
                - Gained experience in debugging and troubleshooting web applications.
            </p>
        </div>
    </div>
</div>
